* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #797979;
}

main {
  height: 100vh;
  padding: 3em 15em;
  background-image: url("../slike/background.jpg");
  background-size: cover;
}

header {
  background-color: white;
  padding: 0.5em 1em;
}
header:before, header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  float: left;
}
.logo span {
  color: #ff3720;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-left: 1em;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 3em;
}
nav ul li a:hover {
  color: #000;
}

h1 {
  font-size: 3em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid #ff3720;
  margin-top: 20%;
  width: 60%;
  margin: 20% auto 0;
}

h3 {
  color: #fff;
  text-align: center;
  font-weight: normal;
}

section {
  padding: 5em 10em;
  text-align: center;
}
section h2 {
  text-transform: uppercase;
  margin-bottom: 3em;
}

#catalog {
  background-color: #f0f0f0;
}
#catalog:before, #catalog:after {
  content: "";
  display: table;
}
#catalog:after {
  clear: both;
}
#catalog .kolona {
  width: 25%;
  float: left;
}
#catalog img {
  width: 90%;
}

.button {
  background-color: #ff3720;
  padding: 0.5em 3em;
  color: #fff;
  text-transform: uppercase;
  margin-top: 1em;
  display: inline-block;
  text-decoration: none;
}

#pricing table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
#pricing table td, #pricing table th {
  padding: 1em;
}
#pricing table thead {
  background-color: #ff3720;
}
#pricing table thead th {
  color: #fff;
}
#pricing table thead th:first-child {
  background-color: #e42b15;
}
#pricing table tbody tr {
  border-bottom: 1px solid #797979;
}
#pricing table tbody td:first-child {
  background-color: #f0f0f0;
  font-weight: bold;
}
#pricing .button {
  display: none;
}

footer {
  background-color: #000;
  padding: 5em 10em;
}
footer:before, footer:after {
  content: "";
  display: table;
}
footer:after {
  clear: both;
}
footer .logo {
  float: none;
  font-size: 1.5em;
  border-bottom: 1px solid #ff3720;
}
footer adress {
  float: left;
  margin: 1em;
}
footer .map {
  float: right;
  margin: 1em;
}

@media screen and (max-width: 1200px) {
  main {
    padding: 3em 1em;
  }

  section, footer {
    padding: 2.5em 5em;
  }

  #catalog .kolona {
    width: 50%;
    margin-bottom: 3em;
  }

  footer {
    text-align: center;
  }
  footer adress, footer .map {
    float: none;
  }
}
@media screen and (max-width: 800px) {
  nav {
    width: 100%;
  }
  nav ul li {
    display: block;
    text-align: center;
  }

  main {
    height: auto;
    background-color: #000;
    background-image: none;
  }

  h1 {
    width: 100%;
    margin-top: 2em;
  }

  #catalog .kolona {
    width: 100%;
  }

  #pricing table {
    display: none;
  }
  #pricing .button {
    display: inline-block;
  }
}

/*# sourceMappingURL=style.css.map */
